/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 2.0;
    background-color: #f8f9fa;
    color: #333;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

container {
    display: flex;
    justify-content: space-around;
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%; /* Mengatur lebar gambar */
    height: auto;
    border-radius: 8px;
}

header {
    background: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.container {
    position: relative;
    width: 100% /* Sesuaikan lebar gambar*/ 
}
.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Warna teks */
    font-size: 40px; /* Ukuran font */
    text-shadow: 2px 2px 4px #333(0, 0, 0, 0.7); /* Efek bayangan untuk meningkatkan keterbacaan */
    opacity: 0.8; /* Tingkat transparansi */
}
section {
    margin-bottom: 20px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #333(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 20px;
    margin-bottom: 15px;
    color: #333;
}

input[type="text"] {
    padding: 10px;
    width: calc(100% - 22px);
    border: 2px solid #333;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #333;
}

.produk {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f1f1f1;
}

.produk img {
    width: auto;
    height: auto;
    border-radius: 40px;
    margin-right: 50px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .produk {
        flex-direction: column;
        align-items: flex-start;
    }

    .produk img {
        margin-bottom: 20px;
    }
}
